@{
    ViewBag.Title = "Neil Jones";
}

<div>
    <div class="col-md-12">
        <h1 style="text-align:center">Cognitive Augmented Reality</h1>
        <hr /> 
        <a class="btn btn-lg btn-success" href="@Url.Action("Example1", "Home")">Example 1</a>
    </div>
</div>
 

