@{
    ViewBag.Title = "Neil Jones";
}



<div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Group 6 - Neil, Yash, Vibhor
            </div>
            <div class="card-block">
                <h4 class="card-title">Cognitive Technologies</h4>
                <p class="card-text">A deep dive into cognitive systems with the help of 2 demos. </p>
                <p class="card-text">The first demo is The Cognitive In-Car Companion \designed to look after the driver and the passengers while being as unobtrusive as possible. </p>
                <p class="card-text">The second demo is an example of Augmented reality</p> 

                <a class="btn btn-primary" href="@Url.Action("Example2", "Home")">IBM Watson - An in car companion</a>
                <a class="btn btn-primary" href="@Url.Action("Example1", "Home")">AR Demo</a>
            </div>
        </div> 
    </div>
</div>
 

